@font-face{
	font-family: lato_reg;
	src: url('../fonts/lato_reg.ttf');
}
@font-face{
	font-family: open_sans_b;
	src: url('../fonts/open_sans_b.ttf');
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jhneyi');
  src:  url('../fonts/icomoon.eot?jhneyi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jhneyi') format('truetype'),
    url('../fonts/icomoon.woff?jhneyi') format('woff'),
    url('../fonts/icomoon.svg?jhneyi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  padding: 10px 10px;
  font-size: 26px;
  content: "\ea90";
  background-color: white;
  border-radius: 22px;
  color: #5b595a;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.icon-instagram:before {
  content: "\ea92";
  padding: 10px 10px;
  font-size: 26px;
  background-color: white;
  border-radius: 22px;
  color: #5b595a;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.icon-youtube:before {
  content: "\ea9d";
  padding: 10px 10px;
  font-size: 26px;
  background-color: white;
  border-radius: 22px;
  color: #5b595a;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
.icon-linkedin2:before {
  content: "\eaca";
  padding: 10px 10px;
  font-size: 26px;
  background-color: white;
  border-radius: 22px;
  color: #5b595a;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

}


body{
	scroll-behavior: smooth;
	background-attachment: fixed;
	background-image: url('../images/dream.jpeg');
	margin: 20px auto;
	max-width: 100%;
	color: #898989;
	line-height: 18px;
	font-family: lato_reg;
	font-weight: 600;
	text-align: center;
	align-items: center;
}
.arrow{
	box-shadow: none;
	background: none;
	position: fixed;
	bottom: 20px;
	right: -100px;
	width: 50px;
	height: 50px;
}
.arrow:hover{
	background: none;
}
.navigation{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-top: -25px;
	z-index: 99999999999;
	 -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

ul {
  list-style: none;
  margin: 0; 
  padding-left: 0;
  margin-top:25px;
  height: 50px;
}
a {
		width: 190px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-decoration: none;
  background:#9e7346;
  color:white;
  padding:0px 0px;
  font-family: arial;
  text-transform: uppercase;
  line-height:50px; 
  display: block; 
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:#6e9fda;
  color: white;
}
li {
padding-top: 5px;
  display: inline-block;
  position:relative;
}
    li > ul {
        position:absolute;
        top:25px;
        display:none; 

    }
    li:hover > ul {
        display:block; 
        width:240px;
        left: -13%;     
    }
   li:hover > ul > li {
        float:none;
    }



.big_block{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10vw auto 0;
	padding: 5px 15px 15px 20px;
	width: 77%;
}
.main_article{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 25px 0 0 0;
	padding: 20px 0 0 0;
	width: 100%;
	opacity: 0.9;
}
h1{
	margin: 55px 0 0 0;
	color: white;
}
h2{
  margin: 10px 0 0 0;
	color: white;
}
.main_article h3{
	margin-top: -20px;
	font-size: 30px;
	line-height: 52px;
	text-transform: uppercase;
	color: white;
}
.main_article p{
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	
box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-decoration: none;
  background:#9e7346;
  color:white;
  text-transform: uppercase;
  line-height:50px;
  display: block; 
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.func1::after{
	 content: ' \21D0';
	 padding: 0 10px;
  font-size: 22px;
  background-color: white;
  border-radius: 22px;
  color: #5b595a;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin-left: 20px;
}

.main_article p::before{
	content: 'HW';
  padding: 0 15px;
  font-size: 21px;
  background-color: white;
  border-radius: 22px;
  color: #5b595a;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin-right: 20px;
}
.text1 img{
	margin: 0;
	padding: 0;
	height: 80%;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}


.text0{
	display: flex;
	flex-direction: row;
}

.text1-1, .text1-2, .text1-3, .text2-1, .text2-2, .text2-3{
	font-family: lato_reg;
	white-space: pre-wrap;
	overflow: auto;
	text-align: left;
	height: 300px;
	margin: 0 auto;
	width: 50%;
	resize: none;
	padding: 20px;
	border: none;
	color: white;
	font-weight: bold;
	background: #1b2753de;

}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}
/*::-webkit-scrollbar {
  width: 7px;
  background: #1b2753de;
}
::-webkit-scrollbar-thumb {
  background: #9e7346;
  border-radius: 7px;
}*/

.text2-1, .text2-2, .text2-3{
	
	background-color: #9e7346c2;
	color: white;
	
}


.result1, .result2, .result3{
	font-family: lato_reg;
	white-space: pre-wrap;
	overflow: auto;
	text-align: center;
	min-height: 300px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
	border: none;
	color: white;
	font-weight: bold;
	background: #9e7346c2;
}
.project{
		font-family: lato_reg;
	white-space: pre-wrap;
	overflow: auto;
	text-align: center;
	min-height: 500px;
	margin: 60px auto 0;
	width: 100%;
	padding: 0;
	border: none;
	color: white;
	font-weight: bold;
	background: #9e7346c2;
}
.func1{
	font-size: 15px;
	font-weight: bold;
	width: 100%;
  text-decoration: none;
  background:#191f35;
  color:white;
  text-transform: uppercase;
  line-height:50px;
  display: block; 
  cursor: pointer;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.func1:hover{
	background:#6e9fda;
  color: white;
}
img{
	height: 80%;
}

figure img{
	margin: 0;
	text-align: center;
	font-style: italic;
	width: 220px;
}
form{
	margin: 0;
	padding: 0;
}






					@media (max-width: 768px){
					  body{
					    margin: 0;
					    background-attachment: fixed;
						background-image: url('../images/dream.jpeg');
					    padding-bottom: 20px;
					    width: 100vw;
					    display: block;
					    flex-direction: column;
					    font-weight: 500;
					  }

					a{
						line-height: 35px;
						width: 90px;
					}
					li:hover > ul {
					        display:block; 
					        width:240px; 
					        left: -30%;     
					    }
					#menu{
						display: none;
					}

					  .big_block{
					  	display: flex;
						flex-direction: column;
						justify-content: space-around;
					  padding: 0;
					  margin: 0;
					  	width: 100vw;
					  }
					  .main_article{
					  	padding-top: 70px;
					  	width: 95vw;
					  	margin: 0 auto;
					  }

					  .text0{
					  	  	display: flex;
					  	flex-direction: column;
					  }

					.navigation{
						position: fixed;
						width: 100%;
						z-index: 9999999999;
					}


					.sidebar ul{
					display: none;
					z-index: 999;
					}
					.sidebar_top{
						margin-top: 10px;
					}
					.func1, form .func1{
						margin: 0 auto;
						width: 95%;
					}

					  .sidebar a{
					  	padding: 0 0;
					  	width: 100%;
					  }
					   .main_article img{
					  	width: 100%;
					  }
					  .text2-1, .text2-2, .text2-3, .text1-1,.text1-2,.text1-3, .result1, .result2, .result3{
					  	width: 100%;
					  	margin: 0;
					  	padding: 0;
					  }

					 
					  